.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  position: absolute;
  top: 120px;
  right: 100px;
  height: 120px;
  width: 150px;
  align-content: space-evenly;
  font-size: 25px;
}
