.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-modal-wrapper {
  position: absolute;
  top: 120px;
  right: 100px;
  height: 120px;
  width: 150px;
  align-content: space-evenly;
  font-size: 25px;
}

/* calendar.css */
.calendar-warp {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 250px;
}
