.btn-modal {
  height: 30px;
  width: 150px;
}

/* .modal {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  display: flex;
} */

.modal {
  position: absolute;
  top: 60px;
  left: 400px;
  right: 400px;
  bottom: 60px;
  background: #f1f1f1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.8);
}

.top-wrap {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btn-close {
  height: 30px;
  width: 75px;
  background-color: rgb(71, 71, 75);
  color: #f1f1f1;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.title {
}
